/* modif général qui agissent sur tous les zones----------------------------------------------*/

    body {
        font-family:"Times New Roman", Georgia, Serif;
    
    }

    li{
        list-style-type:none;
    }

    h3{
        text-align:center;
    }
    
    .conteneur{
        width: 100%;
        max-width: 960px;
        display:block;
        margin:auto;
    }

/* modif de la zone header --------------------------------------------------------------------*/

    header {
        background-image: url("photo/grey_W.png");
        height:10em;
      }    
      
    .title{
        text-align:center;
    
    }
 
    .profil{
        float:left;
    }


/* modif de la zone main------------------------------------------------------------------------*/

     main {
        background-image: url("photo/otis_R.png");
        clear:both;
    }

    section{
        -moz-column-count:3;
        -webkit-column-count:3;
        -o-column-count:3;
        column-count:3;
        -moz-column-gap:5px;
        -webkit-column-gap:5px;
        -o-column-gap:5px;
        column-gap:5px;
  
        text-align:justify;
        border:solid 1px #c0392b;
        margin-left:-50px;
    }

    strong{
        color:#c0392b;
    }

/* modif de la zone Footer-----------------------------------------------------------------------*/

    footer {
        background-image: url("photo/bg_footer.png");
        height:500px;
        color:white;
        clear:both;
    }

    .map{
        float:left;
        margin-top:10px;
    }
    
    footer img{
        width:50px;
        height:50px;
        display:inline-block;
    }

    .contact{
       float:right;
    }


