
body {
    font-family:"Times New Roman", Georgia, Serif;
    
}

header {
    background-image: url("grey_W.png");
    padding-bottom:40px;
  }    

 main {
    background-image: url("otis_R.png");
}

footer {
    background-image: url("bg_footer.png");
    height:500px;
    color:white;
}

li{
    list-style-type:none;
}

h3{
    text-align:center;
}

footer img{
    width:50px;
    height:50px;
    display:inline-block;
}

.conteneur{
    width: 100%;
    max-width: 960px;
    display:block;
    margin:10px;
    margin:auto;
   
  
}


section{
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
  -webkit-column-gap: 0em;
  -moz-column-gap: 0em;
  column-gap: 1em;
  text-align:justify;
  padding-bottom:30px;
  border:solid 1px #c0392b;
  
  
  
}

strong{
    color:#c0392b;
}

.contact{
   float:right;
   
 }

.map{
    float:left;
    margin-top:10px;

}

.title{
    text-align:center;
    
}
 
.profil{
    float:left;
}
 
 main p{
     margin-left:50px;
 }
 
 /* CSS pour la page image  */
 figure img {
     width:375px;
    height:250px;
    
 }
 